.contact__container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;  
}

.button-disabled{
    background-color: grey;
    
}

.button-disabled:hover{
    box-shadow: none;
}

form{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

form input,
form textarea{
    width: 100%;
    border-radius: 0.25rem;
    border: none;
    outline: none;
    padding: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

form input:focus,
form textarea:focus{
    border: 1px solid var(--background-buttons);
}

form input:valid,
form textarea:valid{
    border: 1px solid #12e296;
}

form input{
    height: 3.5rem;
    
}

form button{
    margin-top: 1rem;
    width: 10rem;
    height: 3rem;
    border: none;
}

form p{
    margin-bottom: 1rem;
}

.contact__img--container {
    visibility: hidden;
}

.input-container {
    font-weight: 500;
    position: relative;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    box-sizing: border-box;
}

.input-message-error {
    display: block;
    height: 1rem;
    width: 100%;
    visibility: hidden;
    font-size: 0.75rem;
    margin-top: .3rem;
}
  
.input-container--invalid .input-message-error {
    color: red;
    visibility: visible;
    padding-left: 1rem;
}

.input-container--invalid .input {
    border: 1px solid red;
    border-radius: 7px;
}

@media screen and (min-width: 1024px){

    .contact__container{
        grid-template-columns: 1fr 2fr;
    }

    .contact__img--container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        font-size: 2rem;
        opacity: .6;
        visibility: visible;
    }  
}